.u-wrapper {
    max-width: 70rem;
}

.Heading-title {
    font-size: xx-large;
}

p code, li code {
    background-color: #EEE;
    padding: 5px;
}

code {
    font-family: Jetbrains Mono,Cascadia Code,SFMono-Regular,Consolas,liberation mono,Menlo,Courier,monospace
}

.Heading time {
    color: #666;
}
